body{
  background-color: black;
  background: url('../img/background5.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

h1,h2,ol,li, p{
  color: white;
  font-family: helvetica;
  font-size: 1.2em;
}
h2{
  margin-bottom: 60px;
}
ul{
  list-style: none !important;
}
ol{
  text-align: left;
}

#main{
  max-width: 1000px;
  text-align: center;
  margin-top: 35px;
  /*width: 75%;*/
  /*margin-left: auto;
  margin-right: auto;*/
  background-color: rgba(155, 0, 0, 0.3);
  padding: 60px;
}
#main > div{
    margin-bottom: 100%;
  }
#main p{
    text-align: left;
}
.blank {
  display: rgba(0, 0, 0, 0.0);

}



 #headername, h2{
   font-family: 'Bungee Shade';
   font-size: 4em;
 }
#headername{
   color:  white;
   font-size: 8em;
   text-align: center;
   margin-top: 65px;px;
 }
#welcome{
    font-family: "bungee hairline";
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}
#facepic{
  border-radius: 50%;

}
#facepic   {
  text-align: center;
  max-width: 250px;
  border: 30px solid rgba(255, 255, 255, 0.3);
}


.img-responsive {
    margin: 0 auto;
}    /*allows centering*/
.colleges{
  font-size: 3em:
}
.glyphicon{
  color: white;
  font-size: 4em;
}
